.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-box {
    display: block;
    height: 40px;
    padding: 5px 10px;
    margin: 20px;
}
.monster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
